/* 
#969487
#820002
#3C8A8C
*/



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit
}
img {
    display: block;
    max-width: 100%;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "raleway", sabs-serif;
}

.greet {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.greet img {
    width: 70%;
    
}
.gwrapper {
    background-color: white;
    color: #050505;
    width: 90%;
    box-shadow: 10px 10px;
    border: 1px solid black
    

}
.projects {
    padding: 3em 2em;
    background-color: #3F7373;

}
.projects h2 {
    color: #732B1A;
}
.projects div {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px black;
    margin-bottom: 2em;
}
.skills {
    background-color: #732B1A;
    padding: 2em;
    color: white;
}
.skills hr{
    width: 90%;
    color: black;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    width: 100%;
    font-size: 20px;
}
.awrapper {
    border: 1px solid black;
    box-shadow: 10px 10px black;
}